$app_background_color: #FFF;
$light_text_color: #f7f7fe;
$dark_text_color: #000;
$default_font_size: 12px;

$icon_button_color: rgba(0, 0, 0, .7);
$icon_button_fz: 18px;
$icon_button_hover_color: #EEE;

$excel_fz: .8rem;
$excel_text_color: #888;

$dashboard_new_background: #dadce0;

$cellSize: 68px;
$figureSize: 52px;
$boardSize: 80.75px;

$boardColor: #303030;
$timerBlockColor: #303030;
$playersBlockColor: #303030;
$white_cell_bg_color: #3A4CA9;
$black_cell_bg_color: #303030;

$vw: 100vw;
$vh: 100vh;

$primary_color: #3c74ff;
$dark_color: #100f10;
$light_color: #f7f7fe;
$accent_color: #37b9f1;
$success_color: #188038;
$warn_color: #F44336;

$header-height: 36px;
$toolbar-height: 40px;
$formula-height: 24px;
$border-color: #c0c0c0;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$db-header-height: 64px;
$selectedRowColumnColor: #dee0e2;
$cellInputHoverColor: #f5f5f5;
$columnRowInfoBackgroundColor: #f8f9fa;
$celColumnMinWidth: 40px;
$celColumnMinHeight: 24px;
$cellBorderColor: #e2e3e3;
$dashboard_list_hover_color: #e6f4ea;